<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>To-Do-Liste</title>
        <link rel="stylesheet" href="/css/main.css">
        <script src="/routes/main.js"></script>
    </head>
    <body>
        <div id="content-space">
            <div id="heading-space">
                <h1 id="main-header">Hilfsprogramme</h1>
                <h2 id="second-header">Wähle aus...</h2>
            </div>
            <div id="button-space">
                
            <button class="main-button">To-Do-List <a href="/views/arbeitszeit.html"></a></button>
                
                <a href="/arbeitszeit.html">
                    <button class="main-button">Arbeitszeitrechner</button>
                </a>
            </div>
        </div>
    </body>
</html>
